<div class="verify-page">
    <div class="page-content">
        <img class="img-banner" src="assets/img/verify-email-banner.png" alt="">
        <h3>Verify your email</h3>
        <p>We've sent a verification link to your email address. Please check your inbox.</p>
        <div class="cta-container">
            <button class="verify-cta cta-btn"  (click)="resendVerificationEmail()">
                Resend Email
            </button>
            <button class="login-cta cta-btn"  (click)="goToLogin()">
                Proceed to Login
            </button>
        </div>
    </div>
</div>