<div class="d-flex form-page align-items-center full-h-vh ">
    <div class="position-relative position-wrapper-util mt-5">
        <div class="gradient-ball first"></div>
        <div class="form-wrapper ">
            <h2 class="form-title mb-4 text-center">Signup</h2>
            <form (ngSubmit)="signup()">
                <div class="mb-3">
                    <label for="inputName" class="form-label">Name</label>
                    <input [formControl]="nameControl" type="text" class="form-control" id="inputName">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input [formControl]="emailControl" type="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="InputPassword1" class="form-label">Password</label>
                    <div class="ps-input-container">
                        <input #passwordInput [formControl]="passwordControl" type="password" class="ps-input"
                            id="InputPassword1">
                        <span class="ps-eye-span">
                            @if(showPs){
                            <i class="bi bi-eye-slash" (click)="handleEyeClick()"></i>
                            }@else {
                                <i class="bi bi-eye" (click)="handleEyeClick()"></i>
                            }
                        </span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="inputProfile" class="form-label">Profile Pic(URL)</label>
                    <input [formControl]="profilePicControl" type="text" class="form-control" id="inputProfile">
                </div>
                <button type="submit" class="btn btn-primary block w-100 mt-3">Submit</button>
            </form>
            <p class="lg-cta mt-4 text-end">
                Already have an account? <a routerLink="/login">Login</a>
            </p>
        </div>
        <div class="gradient-ball second"></div>
    </div>
</div>