<div class="forgot-password-page">
    <div class="main-content">
        <div class="banner-container">
            <img class="page-banner" src="assets/img/forgot-password-banner.png" alt=""/>
        </div>
        <div class="content-container">
            <h4 class="mt-0 text-center">TelexChat</h4>

            <div class="form-container">
                <h3 class="form-header">Forgot Password</h3>
                <form class="fg-pasword-form" action="">
                    <p class="my-0">Enter the email address you used to register</p>
                    <input class="reset-email-input" placeholder="Enter yuur email address" [formControl] = "emailControl" type="text">
                    <button class="reset-btn">Send Reset Link</button>
                </form>
                <p class="terms-text">Terms & conditions . Privacy policy</p>
            </div>
        </div>
    </div>
</div>
