<div class="forgot-password-page">
    <div class="main-content">
        <div class="banner-container">
            <img class="page-banner" src="assets/img/forgot-password-banner.png" alt="" />
        </div>
        <div class="content-container">
            <h4 class="logo-text">TelexChat</h4>

            <div class="form-container">
                <h3 class="form-header">Forgot Password</h3>
                <form class="fg-pasword-form" action="">
                    <p class="my-0">Enter the email address you used to register</p>
                    <input class="reset-email-input" placeholder="Email address" [formControl]="emailControl"
                        type="text">
                    <button class="reset-btn" (click)="forgotPassword()" [disabled]="!emailControl.valid || loading">
                        @if(loading == true){
                        <span class="">
                            <i style="width : fit-content; margin: 0 auto; font-size: 20px;"
                                class="bi bi-arrow-clockwise loading d-block">
                            </i>
                        </span>
                        }@else {
                        <span>Send Reset Link</span>
                        }
                    </button>
                </form>
                <p class="terms-text">Terms & conditions . Privacy policy</p>
            </div>
        </div>
    </div>
</div>