<div class="d-flex form-page align-items-center full-h-vh ">
    <div class="position-relative position-wrapper-util mt-5">
        <div class="gradient-ball first"></div>
        <div class="form-wrapper">
            <h2 class="form-title mb-4 text-center">Login</h2>
            <form (ngSubmit)="login()">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input [formControl]="emailControl" type="email" class="form-control" id="exampleInputEmail1"
                        aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text email-help">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="InputPassword1" class="form-label">Password</label>
                    <div class="ps-input-container">
                        <input #passwordInput [formControl]="passwordControl" type="password" class="ps-input"
                            id="InputPassword1">
                        <span class="ps-eye-span">
                            @if(showPs){
                            <i class="bi bi-eye-slash" (click)="handleEyeClick()"></i>
                            }@else {
                            <i class="bi bi-eye" (click)="handleEyeClick()"></i>
                            }
                        </span>
                    </div>
                </div>

                <button [disabled]="!formValid() || loading" type="submit" class="btn btn-primary block w-100 mt-3">
                    @if(loading == true){
                    <span class="">
                        <i style="width : fit-content; margin: 0 auto; font-size: 20px;"
                            class="bi bi-arrow-clockwise loading d-block">
                        </i>
                    </span>
                    }@else {
                    <span>Submit</span>
                    }
                </button>
            </form>
            <div class="acct-cta-container">
                <a routerLink="/forgot-password" class="acct-cta">Forgot Password?</a>
                <p class="lg-cta my-0 text-end">
                    Don't have an account? <a class="acct-cta" routerLink="/signup">Signup</a>
                </p>
            </div>
        </div>
        <div class="gradient-ball second"></div>
    </div>
</div>