<div class="chat-wrapper">
    <div #sideMenu class="side-menu">
        <div class="head-ct">
            <div class="d-flex justify-content-between align-items-center ">
                <h4 class="mt-0">TelexChat</h4>

                <!-- <div class="d-flex gap-2 align-items-center">
                    <i class="bi bi-filter filter-icon"></i>
                    <span class="filter-text">Filter</span>
                </div> -->
            </div>

            <div class="search-bar mt-2">
                <i class="bi bi-search search-icon"></i>
                <input class="search-input" (input)="searchUserFunc()" [formControl]="searchInput" type="text"
                    name="search" id="" placeholder="Search">
            </div>
        </div>

        <div class="chat-el-container">
            @for(user of signedInUsers; track $index){
            <div class="chat-el" (click)="selectUser(user)">
                <div class="d-flex align-items-center gap-2">
                    <div class="profile-img-container">
                        @if(user?.profilePic){
                        <img class="chat-profile-img" [src]="user?.profilePic" alt="chat user profile image">
                        }@else {
                        <span class="profile-icon-span">
                            <i class="bi bi-person-fill"></i>
                        </span>
                        }
                        <div></div>
                        <span *ngIf="getUserStatus(user?.uid)?.status == 'online'" class="status-indicator"></span>
                    </div>
                    <div class="d-flex flex-column">
                        <h5 class="mb-0 chat-el-title">{{ user?.displayName }}</h5>
                        <span class="chat-el-desc-text">{{ user?.lastMessage?.text?.slice(0, 10) }}...</span>

                    </div>
                </div>
                <div class="d-flex flex-column">
                    <span *ngIf="user.lastMessage?.timeStamp as lastMsg" class="time-text">{{ formatMessageTime(lastMsg)
                        }} </span>
                    <ng-container *ngIf="getUnreadCountForUser(user)">
                        <span class="un-msg-text">new</span>
                    </ng-container>
                    <!-- ((status.lastChanged | date :
                        'shortTime'))}}-->

                    <!-- {{getUnreadCountForUser(user)}} -->
                </div>
            </div>
            }
        </div>
    </div>
    <div #chatMainContainer class="chat-main-container">
        <div class="head-ct d-flex justify-content-between align-items-center gap-1">
            <div class="d-flex flex-column gap-1">
                <div class="d-flex align-items-center">
                    <button (click)="showMainPanel()" class="back-btn">
                        <i class="bi bi-arrow-left-short back-arrow"></i>
                    </button>
                    <div class="d-flex align-items-center gap-2">
                        @if(selectedUser()?.profilePic){
                        <img class="currentUserImg" [src]="selectedUser()?.profilePic" alt="">
                        }@else {
                        <span class="profile-icon-span">
                            <i class="bi bi-person-fill"></i>
                        </span>
                        }
                        <div>
                            <h5 class="fr-name d-flex align-items-center">
                                {{ selectedUser()?.displayName }}
                            </h5>
                            <span *ngIf="getUserStatus(selectedUser()?.uid) as status"
                                class="duration-sn">{{status.status === 'online' ? 'Online' : 'Last seen ' +
                                ((status.lastChanged | hoursAgo)) }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="head-cta-container d-flex">
                <span class="search-cta">
                    <i class="bi bi-search"></i>
                </span>
                <div class="profile">
                    <span (click)="toggleProfile()" class="profile-cta-span">
                        <i class="bi bi-person-lines-fill"></i>
                    </span>
                    @if(hasProfile){
                    <div class="profile-box">
                        @if(userVar.profilePic){
                        <img class="profile-pic-img" [src]="userVar.profilePic" alt="">
                        }@else {
                        <span class="img-pl"></span>
                        }
                        <p class="email-txt text-center mt-2 ">{{ user?.email }}</p>
                        <button class="logout-btn" (click)="logoutFunc()">Logout</button>
                    </div>
                    }
                </div>
            </div>
        </div>

        <div class="chat-box">
            <div *ngFor="let m of this.chatService.messages();">
                <div [ngClass]="isCurrentUser(m.senderId)  ? 'message-item sent' : 'message-item received' ">
                    <span class="email-txt">{{m.email}}</span>
                    <span class="message-txt">{{m.text}}</span>
                    <!-- <span>{{m.status}}</span> -->
                </div>
            </div>

        </div>

        <div class="message-box">
            <div class="message-input-container">
                <button class="doc-btn">
                    <i class="bi bi-paperclip rotate-45"></i>
                </button>
                <input class="message-input" type="text" name="message-input" id="" [formControl]="messageControl"
                    (keyup.enter)="sendMessage()" placeholder="Type your message here">
            </div>
            <button class="send-btn" (click)="sendMessage()">
                <svg width="800px" height="800px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="send-alt"
                    class="icon glyph">
                    <path
                        d="M21.88,4.73,16.2,20.65A2,2,0,0,1,14.3,22h0a2,2,0,0,1-1.9-1.31l-2.12-5.52,1.54-1.54,2.49-2.49a1,1,0,1,0-1.42-1.42l-2.49,2.49L8.82,13.76,3.31,11.63a2,2,0,0,1,0-3.83L19.27,2.12a2,2,0,0,1,2.61,2.61Z"
                        style="fill:#19027d">
                    </path>
                </svg>
            </button>
        </div>
    </div>
</div>