<div class="chat-wrapper d-flex">
    <div class="side-menu">
        <div class="head-ct">
            <div class="d-flex justify-content-between align-items-center ">
                <h4 class="mt-0">TelexChat</h4>

                <!-- <div class="d-flex gap-2 align-items-center">
                    <i class="bi bi-filter filter-icon"></i>
                    <span class="filter-text">Filter</span>
                </div> -->
            </div>

            <div class="search-bar mt-2">
                <i class="bi bi-search"></i>
                <input (input)="searchUserFunc()" [formControl] = "searchInput" type="text" name="search" id="" placeholder="Search">
            </div>
        </div>

        <div class="chat-el-container">
            @for(user of signedInUsers; track $index){
            <div class="chat-el" (click)="selectUser(user)">
                <div class="d-flex align-items-center gap-2">
                    <img class="chat-profile-img" [src]="user.profilePic" alt="chat user profile image">
                    <div class="d-flex flex-column">
                        <h5 class="mb-0 chat-el-title">{{ user.displayName }}</h5>
                        <span class="chat-el-desc-text">{{ user.lastMessage?.slice(0, 20) }}...</span>

                    </div>
                </div>

                <div class="d-flex flex-column">
                    <span class="time-text">5 min</span>
                    <!-- <span class="un-msg-text">4</span> -->
                </div>
            </div>
            }
        </div>
    </div>
    <div class="chat-main-container">
        <div class="head-ct d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column gap-1">
                <h5 class="fr-name">{{ userVar?.displayName }}</h5>
                <span class="duration-sn">Last seen 5 hours ago</span>
            </div>

            <div class="d-flex gap-4">
                <i class="bi bi-telephone-fill"></i>
                <i class="bi bi-camera-video-fill"></i>
                <div class="profile">
                    <span (click)="toggleProfile()" class="profile-icon-span">
                        <i class="bi bi-person-fill"></i>
                    </span>
                    @if(hasProfile){
                    <div class="profile-box">
                        @if(userVar.profilePic){
                            <img class="profile-pic-img" [src]="userVar.profilePic" alt="">
                        }@else {
                            <span class="img-pl"></span>
                        }
                        <p class="email-txt text-center mt-2">{{ user?.email }}</p>
                        <button class="logout-btn" (click)="logoutFunc()">Logout</button>
                    </div>
                    }
                </div>
            </div>
        </div>

        <div class="chat-box">
            <div *ngFor="let m of this.chatService.messages();">
                <div [ngClass]="isCurrentUser(m.senderId)  ? 'message-item sent' : 'message-item received' ">
                    <span class="email-txt">{{m.email}}</span>
                    <span class="message-txt">{{m.text}}</span>
                    <!-- <span>{{m.status}}</span> -->
                </div>
            </div>

        </div>

        <div class="message-box">
            <button class="doc-btn">
                <i class="bi bi-paperclip rotate-45"></i>
            </button>
            <input class="mx-2" type="text" name="" id="" [formControl]="messageControl" (keyup.enter)="sendMessage()"
                placeholder="Type your message here">
            <button class="send-btn" (click)="sendMessage()">
                <svg width="800px" height="800px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="send-alt"
                    class="icon glyph">
                    <path
                        d="M21.88,4.73,16.2,20.65A2,2,0,0,1,14.3,22h0a2,2,0,0,1-1.9-1.31l-2.12-5.52,1.54-1.54,2.49-2.49a1,1,0,1,0-1.42-1.42l-2.49,2.49L8.82,13.76,3.31,11.63a2,2,0,0,1,0-3.83L19.27,2.12a2,2,0,0,1,2.61,2.61Z"
                        style="fill:#19027d">
                    </path>
                </svg>
            </button>
        </div>
    </div>
</div>

